<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Show a record</h1>

        <form id="category_form" method="post" action="/pingpong/show_record/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Show Record" />
        </form>
        {% if record %}
        <h2>{{record.player_1_id.name}}</h2>

        {% endif %}

    </body>

</html>


